<nav class="navbar navbar-expand-lg text-bg-secondary w3-text-white">
  <div class="container-fluid">
    <a class="navbar-brand w3-text-white" routerLink="/">Fakestore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active w3-text-white" aria-current="page" routerLink="/">Home</a>
        <!-- <a class="nav-link w3-text-white" routerLink="/products">All products</a> -->
        <a class="nav-link w3-text-white" routerLink="/categories">Categories</a>
        <a class="nav-link w3-text-white" routerLink="/cart">Cart</a>

        <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>